/*
====================================
------------------------------------

    1. Typography
    2. Header
    3. Slider
    4. Services
    5. Prices
    6. Footer
    7. Us
    8. Service
    9. Test Form
    10. Archive
    11. Entry
    12. Legal
    
-------------------------------------
=====================================
*/

body {
    background: #fff;
    color: #43484E;
    font-family: $font-stack;
    font-weight: 400;
    position: relative;
}

.form-group label {
    color: #7b7b7b;
    margin-bottom: 5px;
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background-color: lighten($primary-color, 20);
        border-color: $primary-color;
    }
}

.panel-primary {
    border-color: $primary-color;
}

.panel-primary > .panel-body {
    a {
        color: $primary-color;
    }
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.panel-primary > .panel-heading a:focus {
    color: #fff !important;
}

.section {
    p, ul, li {
        font-size: 1.3em;
        color: $grey;
    }

    strong {
        font-size: 1.1em;
    }
}

.section-padding {
    padding: 3em 0;
}

.section-title {
    color: $secondary-color;
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0.7em;
}

.section-title.fancy {
    color: $secondary-color;
    font-weight: 400;
    font-family: 'Lobster';
    font-size: 3.5em;
    margin-bottom: 0.7em;
    text-decoration: none;
    text-align: left;
    text-shadow: 1px 2px 3px #ccc;
}

.section-gray {
    background-color: #f2f2f2;
}

ul.no-padding {
    padding: 0;
}

.popover {
    max-width: 300px;
}

.well.white {
    background-color: #fff;
}