.restaurant-menu{

    .restaurant-menu-category{
        background-color:$primary-color-light;
        text-align:center;
        border: 2px outset $black;
        margin-top:58%;
        margin-bottom:1em;

        h2{
            color:$black;
            font-weight:bold;
            font-size:3em;
        }

        h5{
            color: $white;
            font-size:20px;
        }

        img{
            display:block;
            margin:auto;
            width: 100%;
        }

        button{
            box-shadow: 0 4px 2px $primary-color-dark;
            margin-bottom:1em;
            margin-top:1em;
            background-color: $black;
            color: $primary-color-light;
            font-size:20px;
            font-weight:bold;
            transition: box-shadow 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 9px 25px $primary-color-dark;
            }
        }
    }

    #featured{
        background-color:$black;

        h2 {
            color: $white;
        }

        h5{
            color: $primary-color-light;
        }

        button{
            background-color: $white;

            &:hover {
                box-shadow: 0 9px 25px $primary-color-light;
            }
        }
    }
}

@include respond-to("xs"){

    .restaurant-menu{

        .restaurant-menu-category{
            background-color:$primary-color-light;
            text-align:center;
            border: 2px outset $black;
            margin-top:72%;
            margin-bottom:2em;
    
            h2{
                color:$black;
                font-weight:bold;
                font-size:2em;
            }
    
            h5{
                color: $white;
                font-size:15px;
            }
    
            img{
                display:block;
                margin:auto;
                width: 100%;
            }
    
            button{
                box-shadow: 0 4px 2px $primary-color-dark;
                margin-bottom:1em;
                margin-top:1em;
                background-color: $black;
                color: $primary-color-light;
                font-size:15px;
                font-weight:bold;
                transition: box-shadow 0.3s ease-in-out;
    
                &:hover {
                    box-shadow: 0 9px 25px $primary-color-dark;
                }
            }
        }
    
        #featured{
            background-color:$black;
            margin:auto;

            h2 {
                color: $white;
            }
    
            h5{
                color: $primary-color-light;
            }
    
            button{
                background-color: $white;
    
                &:hover {
                    box-shadow: 0 9px 25px $primary-color-light;
                }
            }
        }
    }
}

@include respond-to("sm"){

    .restaurant-menu{

        .restaurant-menu-category{
            margin-top:74%;
            margin-bottom:2em;
    
            h2{
                font-size:2em;
            }
    
            h5{
                font-size:15px;
            }
    
            img{
                display:block;
                margin:auto;
                width: 80%;
            }
    
            button{
                margin-bottom:1em;
                margin-top:1em;
                font-size:15px;
            }
        }
    
        #featured{
            margin:auto;
                }
            }
        }
