.slider {
    position: absolute;
    z-index: 999;
    width:100%;

    img{
        width: 100%;
    }

    h1 {
        font-size:5em;
        text-shadow:1px 1px 0 $black;
        color:$white;
        text-align:center;
    }

    p {
        font-size:3em;
        margin-bottom:15em;
        text-shadow:1px 1px 0 $black;
    }
}

@include respond-to("xs"){

    .slider {
        position: absolute;
        z-index: 999;
        width:92%;
    
        img{
            width: 100%;
        }
    
        h1 {
            font-size:4em;
            text-shadow:1px 1px 0 $black;
            color:$white;
            text-align:center;
        }
    
        p {
            font-size:2em;
            margin-bottom:15em;
            text-shadow:1px 1px 0 $black;
        }
    }
}

@include respond-to("sm"){

    .slider {
        width:91%;
    
        img{
            width: 100%;
        }
    }
}
