.panel-footer{
    background-color:#212121;
    text-align:center;

    p{
        margin-bottom:2em;
        margin-top:1em;
        color:#fa640f;
        font-family:$font-stack;
        font-size:25px;
        font-weight:bold;
        background-color:#212121;
    }
    img{
        margin-top:1em;
        width:3%; 
        }
}

@include respond-to("xs"){

.panel-footer{
    background-color:#212121;
    text-align:center;

    p{
        margin-bottom:2em;
        margin-top:1em;
        color:#fa640f;
        font-family:$font-stack;
        font-size:15px;
        font-weight:bold;
        background-color:#212121;
    }
    img{
        margin-top:1em;
        width:8%; 
        }
    }
}

@include respond-to("sm"){

    .panel-footer{

        p{
            font-size:15px;
        }
        img{
            margin-top:1em;
            width:8%; 
        }
    }
}

@include respond-to("md"){
    
    .panel-footer{

        p{
            font-size:25px;
        }
        img{
            margin-top:1em;
            width:5%; 
        }
    }
}