.container-fluid{
    background-color:black;
}

    .top-header{
        background-color: #fa640f;
        z-index:1001;

        h4{
            text-align:center;
            color:#ffffff;
            font-size:2em;
    }   
}
    .header{
        position: absolute;
        left: 0;
        top: 6%;
        z-index: 1000;
        width:100%;
        height: 20vh;

        li a{
        color:#fa640f;
        font-size: 2em;
        font-family: $font-stack;
        }

    .navbar-nav{
        float: right;
        }
        
    .navbar-expand-lg{
        top:-3em;
        left:0;
        }
    }

        .logo{
            margin-top:-3em;
        }
@include respond-to("xs"){

    .top-header{

        h4{
            font-size:1em;
    }   
}
    .header{

        .navbar-toggler{
            background-color:$white;
        }
            .expand-lg{
                max-width: 4em;
            }
            .collapse{
                background-color:$white;
                font-size:8px;
                text-align:center;
                max-width:12em;
                margin-left:10em;
        }
            .toggler-icon{
                left:15em;
            }
        }
}

@include respond-to("sm"){

    .top-header{

        h4{
            font-size:1em;
    }   
}
    .header{

        .navbar-toggler{
            background-color:$white;
        }
            .expand-lg{
                max-width: 4em;
            }
            .collapse{
                background-color:$white;
                font-size:8px;
                text-align:center;
                max-width:12em;
                margin-left:10em;
        }
            .toggler-icon{
                left:15em;
            }

            .logo{
                margin-top:-7em;
            }
        }
}