//typography
$font-stack: "Lato", sans-serif;

//colors
$primary-color:#b53d00;
$primary-color-light:#fa640f;
$primary-color-dark:#b53d00;
$secondary-color:#b53d00;
$secondary-color-light:#fa640f;
$secondary-color-dark:#b53d00;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 40%);
$grey-light: hsl(0, 0%, 95%);
$background: #fa640f;